<footer style="position: fixed; bottom:0; width:100%" class="container-fluid bg-dark"  align="center">
  <div>
    <p style="color: white;">Copyright &copy; by Task Manager. All Rights Reserved From 2021 - 2022.</p>
  </div>
</footer>