<div class="container-fluid jan-container-lg-px container-fluid-maxwidth">
  <div class="row pb-5">
    <div id="toc-desktop-container" class="col-xl-2 jan-sticky-md-container d-none d-lg-block"></div>
    <article class="col-xl-7 col-lg-9">
      <div class="text-center mb-5">
        <h1 role="heading" aria-level="1"><span itemprop="name headline">Task Manager</span></h1>
      </div>
      <div id="toc-mobile-container" class="d-lg-none jan-sticky-mobile">

        <div class="jan-sidebar jan-sidebar--sticky">
          <div class="card border shadow-sm jan-sidebar__item mb-4">
            <h6 class="text-uppercase d-flex align-items-center jan-collapse-button m-0 p-3 collapsed" data-toggle="collapse" data-target="#collapseTocArticle" role="button" aria-expanded="false" aria-controls="collapseTocArticle"><span class="mr-2 jan-icon jan-icon--list-bulleted"></span>Table of Contents</h6>
            <div class="hide px-3 pb-3 toc-contents collapse" id="collapseTocArticle" style="">
              <ul class="jan-toc list-unstyled navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#what-does-task-manager-mean">What Does Task Manager Mean?</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#techopedia-explains-task-manager">Techopedia Explains Task Manager</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="jan-article hashtag-toc">
        <div class="jan-article__content">
          <h2 role="heading" aria-level="2" class="mb-3" id="what-does-task-manager-mean">What Does Task Manager Mean?</h2>
          <p>A task manager is a utility that provides a view of active processes or tasks, as well as related information, and may also allow users to enter commands that will manipulate those tasks in various ways. Individual task managers accomplish different functions depending on the operating system and software requirements.
          </p>
        </div>
      </div>
    </article>
    </div>
  </div>
</div>